/* Header - Básico */

.main-header{
    max-width: 100%;
    background-color: #C4C4C4;
    margin: auto;
}

.main-header nav ul a{
    text-decoration: none;
    color: white;
}

.container-main-header{
    max-width: 100%;
    background-color: #C4C4C4;
    color: #FFFDFD;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    min-height: 2vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
}

@media(orientation: landscape){
    .container-main-header{
        max-width: 60%;
    }
}


/* Mobile Version */

@media(orientation: landscape){
    .mobile-version ul{
        display: none;
    }
}

@media(orientation: portrait){
    .mobile-version ul{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-between;
    }
    
    .mobile-version ul li{
        display: inline-block;
        font-size: 15px;
        line-height: 22px;
        margin-right: 1em;
        margin-top: 1em;
    }
}


/* Desktop Version */

@media(orientation: portrait){
    .desktop-version ul{
        display: none;
    }
}

@media(orientation: landscape){
    .desktop-version ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media(orientation: landscape){
    .desktop-version ul li{
        width: 7.5em;
        margin: 10%;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 2em;
        font-size: 120%;
        line-height: 22px;
    }
}