/* Primeira Seção - Base */

.primeira-secao{
    max-width: 100%;
    min-height: 85vh;
    background: url("../img/primeira_secao/background.jpg");
    background-repeat: no-repeat;
    background-position: 0 65%;
    background-size: cover;
    margin: auto;
}

.container-primeira-secao{
    max-width: 100%;
    font-family: "Roboto";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin: auto;
}

@media(orientation: landscape){
    .container-primeira-secao{
        max-width: 60%;
    }
}


/* Mobile Version */

@media(orientation: portrait){
    .container-primeira-secao{
        padding: 1em;
    }
    
    .container-primeira-secao h1{
        width: 100%;
        color: #FFFDFD;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: .2em;
    }
    
    .container-primeira-secao h2{
        width: 100%;
        color: white;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 2em;
        display: none;
    }
}

/* Desktop Version */

@media(orientation: landscape){
    .container-primeira-secao{
        padding: 1em;
    }
    
    .container-primeira-secao h1{
        width: 100%;
        color: #FFFDFD;
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        line-height: 44px;
        margin-bottom: .5em;
        line-height: 1em;
        padding-right: 1.2em;
        padding-left: 1.2em;
    }
    
    .container-primeira-secao h2{
        width: 100%;
        color: white;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        margin-bottom: 4em;
        line-height: 1em;
        padding-right: 1.2em;
        padding-left: 2em;
    }
}


/* Other Rules */
    
@media(max-width: 1260px){
    .primeira-secao{
        max-width: 100%;
        min-height: 40vh;
        background-size: cover;
        margin: auto;
    }
    
    .container-primeira-secao h1{
        width: 100%;
        color: #FFFDFD;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: .2em;
    }
    
    .container-primeira-secao h2{
        width: 100%;
        color: white;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 2em;
    }
}
    
@media(max-width: 350px){
    .container-primeira-secao h1{
        font-size: 24px;

    }
    
    .container-primeira-secao h2{
        font-size: 15px;
    }
}