/* Quarta Seção - Base */

.quarta-secao{
    max-width: 100%;
    background: rgba(160,160,160,.1);
    box-shadow: 1px 1px 5px 1px rgba(120,120,120,1);
}

.container-quarta-secao{
    max-width: 100%;
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
}

@media(orientation: landscape){
    .container-quarta-secao{
        max-width: 60%;
    }
}


/* Mobile Version */

@media(orientation: portrait){
    .container-quarta-secao .widget-sympla{
        max-width: 100%;
        margin-top: 0em;
        margin-bottom: 0em;
        padding-top: 0em;
        padding-bottom: 0em;
    }
    
    .container-quarta-secao{
        max-width: 100%;
        min-height: 100%;
    }
}

/* Desktop Version */

@media(orientation: landscape){
    .container-quarta-secao{
        max-height: 25em;
    }
    
    .container-quarta-secao .widget-sympla{
        max-width: 100%;
        margin-top: 1em;
        margin-bottom: 5em;
        padding-top: 0em;
        padding-bottom: 5em;
    }
    
    .container-quarta-secao .inner-sympla{
        width: 50em;
    }
}


/* Other Rules */

@media(max-width: 1200px) and (orientation: landscape){
    .container-quarta-secao .inner-sympla{
        width: 25em;
    }
}

@media(max-width: 800px) and (orientation: landscape){
    .container-quarta-secao .inner-sympla{
        width: 20em;
    }
}

@media(max-width: 400px) and (orientation: landscape){
    .container-quarta-secao .inner-sympla{
        width: 20em;
    }
}