/* Quarta Seção - Base */

.quarta-secao{
    max-width: 100%;
    margin: auto;
}

.container-quarta-secao{
    max-width: 100%;
    background: url("../img/background_quarta_secao.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
}

@media(orientation: landscape){
    .container-quarta-secao{
        max-width: 60%;
    }
}


/* Mobile Version */

@media(orientation: portrait){
    .container-quarta-secao .widget-sympla{
        max-width: 100%;
        margin-top: 0em;
        margin-bottom: 0em;
        padding-top: 0em;
        padding-bottom: 0em;
    }
    
    .container-quarta-secao{
        max-width: 100%;
        min-height: 100%;
        background: url("../img/background_quarta_secao.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 50%;
    }
}

/* Desktop Version */

@media(orientation: landscape){
    .container-quarta-secao .widget-sympla{
        max-width: 100%;
        margin-top: 1em;
        margin-bottom: 5em;
        padding-top: 5em;
        padding-bottom: 5em;
    }
    
    .container-quarta-secao .inner-sympla{
        width: 100em;
    }
}