/* Quinta Seção - Base */

.quinta-secao{
    max-width: 100%;
    max-width: 100%;
    margin: auto;
    margin: auto;
}

.container-quinta-secao{
    max-width: 100%;
    min-height: 46.5vh;
    padding: 4em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    margin: auto;
    margin-top: 0em;
}

@media(orientation: landscape){
    .container-quinta-secao{
        max-width: 60%;
    }
}


/* Mobile Version */

@media(orientation: portrait){
    .container-quinta-secao{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .quinta-secao h2{
        width: 100%;
        background-color: rgba(220,220,220,.3);
        border-radius: 40px;
        color: #294DC2;
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        text-align: center;
        padding: 1em;
        margin: auto;
    }
    
    .container-quinta-secao picture{
        max-width: 55%;
        text-align: center;
        align-items: center;
        margin-top: .8em;
        margin-bottom: 1.2em;
    }
    
    .container-quinta-secao img{
        max-width: 100%;
    }
}

/* Desktop Version */

@media(orientation: landscape){
    .container-quinta-secao{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .quinta-secao h2{
        width: 100%;
        background-color: rgba(220,220,220,.3);
        border-radius: 40px;
        color: #294DC2;
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
        text-align: center;
        padding: 1em;
        margin: auto;
        margin-bottom: 2em;
    }
    
    .container-quinta-secao picture{
        max-width: 55%;
        text-align: center;
        margin: 2em;
        margin-top: .8em;
    }
    
    .container-quinta-secao img{
        max-width: 100%;
    }
}


/* Other Rules */

@media(max-width: 1260px){     
    .container-quinta-secao h2{
        font-size: 24px;
    }
}