/* Sexta Seção - Base */

.sexta-secao{
    max-width: 100%;
    margin: auto;
}

.container-sexta-secao{
    max-width: 100%;
    background: url("../img/background_sexta_secao.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 65vh;
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    margin: auto;
}

.container-sexta-secao a{
    text-decoration: none;
    color: #737373;
}

@media(orientation: landscape){
    .container-sexta-secao{
        max-width: 60%;
    }
}


/* Mobile Version */

@media(orientation: portrait){  
    .container-sexta-secao{
        min-height: 25vh;
    }
    .container-sexta-secao .inside-sexta-secao{
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .container-sexta-secao h2{
        max-width: 100%;
        color: white;
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 20px;
        text-align: left;
        padding-left: 15%;
        margin-top: 0em;
        margin-bottom: .5em;
    }
    
    .container-sexta-secao p{
        max-width: 100%;
        color: white;
        font-family: "Roboto";
        font-style: normal;
        font-size: 14px;
        line-height: 15px;
        text-align: left;
        padding-left: 15%;
        margin-bottom: 3em;
    }
    
    .container-sexta-secao ul{
        max-width: 40%;
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:flex-end;
        padding-left: 20%;
        margin-top: 1em;
        margin-bottom: 3em;
    }
    
    .container-sexta-secao ul li{
        padding: 1em;
    }
    
    .container-sexta-secao ul li img{
        width: 80%;
    }
}

/* Desktop Version */

@media(orientation: landscape){
    .container-sexta-secao .inside-sexta-secao{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .container-sexta-secao h2{
        max-width: 50%;
        color: white;
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 32px;
        text-align: center;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 0.5em;
    }
    
    .container-sexta-secao p{
        max-width: 80%;
        color: white;
        font-family: "Roboto";
        font-style: normal;
        font-size: 16px;
        line-height: 25px;
        margin: auto;
        text-align: center;
        margin-bottom: 4em;
    }
    
    .container-sexta-secao ul{
        max-width: 100%;
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:flex-end;
        margin: auto;
        margin-top: -9em;
        margin-bottom: 3em;
    }
    
    .container-sexta-secao ul li{
        padding: 1em;
    }
}