/* Terceira Seção - Base */

.terceira-secao{
    max-width: 100%;
    min-height: 50vh;
    margin: auto;
}

.terceira-secao .iframe-div{
    max-width: 100%;
    margin: auto;
}

.container-terceira-secao{
    max-width: 100%;
    background-image: url(../img/terceira_secao/background_fill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    box-shadow: -5px -10px 10px -10px midnightblue;
}

@media(orientation: landscape){
    .container-terceira-secao{
        max-width: 100%;
    }
}


/* Mobile Version */

@media(orientation: portrait){
    .container-terceira-secao h2{
        width: 100%;
        color: white;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 35px;
        line-height: 20px;
        text-align: center;
        padding: .5em;
        margin-top: .5em;
    }
    
    .container-terceira-secao h3{
        width: 100%;
        color: white;
        font-family: "Roboto";
        font-style: normal;
        font-size: 25px;
        line-height: 25px;
        text-align: center;
        padding: .3em;
        margin-bottom: .5em;
    }
}

/* Desktop Version */

@media(orientation: landscape){ 
    .container-terceira-secao h2{
        width: 100%;
        color: white;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 35px;
        line-height: 20px;
        text-align: center;
        padding: .5em;
        margin-top: .5em;
    }
    
    .container-terceira-secao h3{
        width: 100%;
        color: white;
        font-family: "Roboto";
        font-style: normal;
        font-size: 25px;
        line-height: 25px;
        text-align: center;
        padding: .3em;
        margin-bottom: .5em;
    }
}


/* Other Rules */
    
@media(max-width: 1260px){
    .container-terceira-secao h3{
        font-size: 16px;
    }
    
    .container-terceira-secao h2{
        font-size: 24px;
        margin-bottom: 0em;
        
    }
}