/* Terceira Seção - Base */

.terceira-secao{
    max-width: 100%;
    margin: auto;
}

.container-terceira-secao{
    max-width: 100%;
    min-height: 25vh;
    padding: 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
}

@media(orientation: landscape){
    .container-terceira-secao{
        max-width: 60%;
    }
}


/* Mobile Version */

@media(orientation: portrait){
    .container-terceira-secao h2{
        width: 100%;
        color: #294DC2;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 35px;
        line-height: 20px;
        text-align: center;
        padding: .5em;
        margin-top: 1em;
    }
    
    .container-terceira-secao h3{
        width: 100%;
        color: #737373;
        font-family: "Roboto";
        font-style: normal;
        font-size: 25px;
        line-height: 25px;
        text-align: center;
        padding: .3em;
        margin-bottom: .2em;
    }
}

/* Desktop Version */

@media(orientation: landscape){
    .container-terceira-secao h1{
        color: #737373;
        font-size: 20px;
        font-weight: bold;
    }
    
    .container-terceira-secao h2{
        width: 100%;
        color: #294DC2;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 35px;
        line-height: 20px;
        text-align: center;
        padding: .5em;
        margin-top: 1em;
    }
    
    .container-terceira-secao h3{
        width: 100%;
        color: #737373;
        font-family: "Roboto";
        font-style: normal;
        font-size: 25px;
        line-height: 25px;
        text-align: center;
        padding: .3em;
        margin-bottom: .2em;
    }
}


/* Other Rules */
    
@media(max-width: 1260px){
    .container-terceira-secao h3{
        font-size: 16px;
    }
    
    .container-terceira-secao h2{
        font-size: 24px;
        margin-bottom: 0em;
        
    }
}